@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
html{
    scroll-behavior: smooth;
    color: black;
}
body{

}

body{
    aling: center;
    background-color: #dde1e9;
    font-family: Barlow Condensed, Arial Narrow, Roboto Condensed, Open Sans Condensed, sans-serif;
    margin: 0;
    background: url(fondo.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
a{
    text-decoration: none;
    color: black;
}

table{
    margin: 0 auto;
}
table, th, td {
    border: 1px solid white;
}
header{
    display: flex;
    min-height: 70px;
    background: #005187;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 60px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }

}
/* *********** */
/* Imagenes */
/* *********** */
#login{
    display: flex;
    justify-content: right;
    align-items: right;
}
p{
    padding: 10px;
}

/* *********** */
/* ENCABEZADO - MENU */
/* *********** */
.contenedor-header{
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #1f283e;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
    padding: 0 20px;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}
.txtRojo{
    color:#ff1133;
}
.contenedor-header header nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}
.contenedor-header header nav a:hover{
    color: #ff1133;
}
.contenedor-header header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}
.contenedor-header header .redes a:hover{
    color: #ff1133;
}
.nav-responsive{
    display: none;
    font-size: 25px;
 }
 /* *********** */
/* MENU DESPEGABLE*/
/* *********** */
        #header {
            margin: auto;
            width: 500px;
        }
        ul {
            list-style: none;
        }
        .nav li a{
            background-color: #53B1CF;
            color: #ffffff;
            text-decoration: none;
            display: block;
            padding: 10px 15px;
        }
        .nav > li{
            float: left;
        }
        .nav li a:hover{
            background: rgb(135, 139, 139);
        }
        .nav li ul{
            display: none;
            position: absolute;
            min-width: 140px;
        }
        .nav li:hover > ul{
            display: block;
        }
        .nav li ul li{
            position: relative;
        }
        .nav li ul li ul{
            right: -140px;
            top: 0px;
        }
        
 /* *********** */
/* SECCIÓN INICIO */
/* *********** */
.inicio{
    height: 100vh;
    background:linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url(img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}
.inicio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.inicio .info{
    width:fit-content;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.inicio .info h2{
    font-size: 4rem;
    letter-spacing: 3px;
}
.inicio .info p{
    margin: 20px;
    color: #ffffff;;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.inicio .info .btn-mas{
    width: 50px;
    margin: auto;
    height: 50px;
    border: 2px solid #ff1133;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ff1133;
    margin-top: 50px;
    text-decoration: none;
}
.opciones{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.inicio .opciones .opcion{
    border-top: 2px solid #797e8e;
    padding: 7px;
    color: #326ac2;
    margin: 0 20px;
}
.contenedor-acordeon{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}
.contenedor-acordeon h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
}
.acordeon{
    background: #fff;
}
.acordeon label{
    display: block;
    padding: 20px;
    font-size: 20px;
    background: #1c1c1c;
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}
.acordeon label:hover{
    background: #4598D1;
}
.acordeon .contenido-acordeon{
    padding: 0px;
    margin: 0px 20px;

    overflow: hidden;
    transition: all 300ms ease;
}
.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 600px;
    padding: 15px 0px;
}
.btn-acordeon{
    display: none;
}
