@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');
body{
    font-family: Barlow Condensed, Arial Narrow, Roboto Condensed, Open Sans Condensed, sans-serif;
    margin: auto;
    background: url(fondo2.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-size: contain;

    }
    .boton-modal label{
        padding: 10px 15px;
        background-color: #005187;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        transition: all 400ms ease;
    }
    .boton-modal label:hover{
        background-color: #185E83;
    }
    #btn-modal{
        display: none;
    }
    .container-modal{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0 ; left: 0;
        background-color: rgba(144, 148, 150, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    #btn-modal:checked ~ .container-modal{
        display: flex;
    }
    .content-modal{
        width: 100%;
        max-width: 400px;
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;
    }
    .content-modal h2{
       margin-bottom: 15px; 
    }
    .content-modal p{
        padding: 10px 0px;
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
    }
    .content-modal .btn-cerrar{
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }
    .content-modal .btn-cerrar label{
        padding: 7px 10px;
        background-color: #5488a5;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        transition: all 400ms ease;
    }
    .content-modal .btn-cerrar label:hover{
    background-color: #005187;
}
.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

a{
    text-decoration: none;
    color: black;
}
.wrap{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(0 0 0 / 2), rgb(0 0 0 / .55)), url(panda.jpeg);
    background-size: cover;
    background-position: center;
}
.wrap-texto{
    color: #D0D3D4;
    text-align: center;
    width: 50%;
}
.tipicas{
    width: 100%;
        max-width: 400px;
        padding: 20px;
    height: 400px;
    justify-content: center;
}
.horizontales{
    width: 100%;
        max-width: 400px;
        padding: 20px;
    height: 250px;
    justify-content: center;
}

header{
    display: flex;
    min-height: 70px;
    background: #005187;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 60px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: white;
}

@media screen and (max-width:800px){
    .content-modal{
        width: 80%;
    }
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
    .imagenes{
        flex-direction: column;
        align-items: center;
    }
        .tipicas{
            width: 90%;
    }
        .horizontales{
            width: 90%;
    }
    .alinear{
        margin-bottom: 10px;
    }
    .box{
        flex-direction: column;
    }
    .box-1{
        flex-direction: column;
    }
    .box-2{
        flex-direction: column;
    }
    .box-3{
        flex-direction: column;
    }
}
        
.box{
    background: fixed;
    margin: auto;
    display: block;
    padding: 10px;
    color: rgb(50, 45, 45);
    border-radius: 50px;
    box-shadow: 10px 10px #84b6f4; /*sombra a la caja*/
    font-weight: bold;
    background: #4d82bc;
    align-items: center;
    justify-content: left;
}
.box-1{
    background: fixed;
    margin: auto;
    display: block;
    padding: 10px;
    color: rgb(52, 143, 143);
    border-radius: 50px;
    box-shadow: 10px 10px #84b6f4;
    font-weight: bold;
    background: #4d82bc;
}
.box-2{
    background: fixed;
    margin: auto;
    display: block;
    padding: 10px;
    color: rgb(76, 75, 67);
    border-radius: 50px;
    box-shadow: 10px 10px #84b6f4;
    font-weight: bold;
    background: #4d82bc;
    text-align: center;
}
.alinear{
    width: 450px;
    height: 250px;
    margin: 0 5px;
}
.imagenes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}
.boton{
    background-color: #3d3d34;
    padding: 20px;
}
}